body {
	background-color: #14181C;
	color: #9ab;
}

td {
	color: #9ab;
	vertical-align: middle;
}

td a {
	color: #9ab;
}

td a:hover {
	color: #9ab;
}

caption {
	color: #9ab;
}

th {
	color: #9ab;
}

.navbar {
	margin-bottom: 30px;
}

.sortable th {
	cursor: pointer;
}

.sortable .sorttable_nosort {
	cursor: default;
}

.new-product-button {
	max-height: 40px;
	vertical-align: middle;
}

.new-product-button-span {
	position: relative;
	top: -10px;
}

.new-product-button-text {
	position: relative;
	top: -4px;
	left: 5px;
}

.large-plus {
	font-size: 30px;
}

.product-list-table {
	margin-top: 20px;
}

.product-detail-top {
	margin-bottom: 70px;
}

.product-detail-retired {
	color: #707070;
}

.product-detail-retired img {
	filter: grayscale(100%);
}

#product-detail-middle caption {
	caption-side: top;
	margin-left: 23%;
}

#existing-product #product-form {
	display: none;
}

#product-edit-toggle-button {
	width: 80px;
}

#product-retirement-form {
	display: none;
}

.product-image {
	border-radius: 5px;
}

.product-image-small {
	border-radius: 5px;
	max-width: 80px;
	max-height: 80px;
}

.td-product-image {
	text-align: center;
	width: 100px;
}

#login-form