body {
	background-color: #14181C;
	color: #9ab;
}

td {
	color: #9ab;
	vertical-align: middle;
}

td a {
	color: #9ab;
}

td a:hover {
	color: #9ab;
}

caption {
	color: #9ab;
}

th {
	color: #9ab;
}

.navbar {
	margin-bottom: 30px;
}

#navbar-currency-form span {
	cursor: pointer;
}

#navbar-currency-form {
	margin-right: 2em;
	margin-top: 0.5em;
}

.sortable th {
	cursor: pointer;
}

.sortable .sorttable_nosort {
	cursor: default;
}

.new-product-button {
	max-height: 40px;
	vertical-align: middle;
}

.new-product-button-span {
	position: relative;
	top: -10px;
}

.new-product-button-text {
	position: relative;
	top: -4px;
	left: 5px;
}

.large-plus {
	font-size: 30px;
}

.product-list-table {
	margin-top: 20px;
}

.product-detail-top {
	margin-bottom: 70px;
}

.product-detail-retired {
	color: #707070;
}

.product-detail-retired img {
	filter: grayscale(100%);
}

#product-detail-middle caption {
	caption-side: top;
}

.product-detail-table caption {
	font-weight: bold;
}

#existing-product #product-form {
	display: none;
}

#product-edit-toggle-button {
	width: 80px;
}

#product-retirement-form {
	display: none;
}

.product-image {
	border-radius: 5px;
}

.product-image-small {
	border-radius: 5px;
	max-width: 80px;
	max-height: 80px;
}

.td-product-image {
	text-align: center;
/*	width: 100px;*/
}

.product-list-table tr {
	height: 100px;
}

.product-list-table thead tr {
	height: 20px;
}

.retired-product-table-label {
	top: -0.1em;
	font-size: 0.8em;
	position: relative;
}

.show-retired-products-checkbox-div {
	position: relative;
	top: 15px;
}

img.retired {
	filter: grayscale(100%);
}

#product-form input {
	background-color: #bdcee0;
}

#product-form input:focus {
	background-color: white;
}

#product-form select {
	background-color: #bdcee0;
}

#product-form select:focus {
	background-color: white;
}

#statistics-page {
	margin-top: 2.5em;
}

#statistics-page h2 {
	text-align: center;
}

#statistics-page #lifespan-progress-bar {
	width: 100%;
}

#lifespan-progress-percentage {
	bottom: 0.5em;
	font-size: 1.4em;
	font-weight: bold;
	position: relative;
}

.statistics-row {
	font-size: 1.5em;
	margin-top: 2em;
}

#statistics-page table {
	font-size: 1.25em;
}

#statistics-page td, #statistics-page th {
	padding: 1em;
}