{% load products_extras %}
{% load static %}

<div class="row">
	<div class="col-md-2">
		<a class="btn btn-primary new-product-button" href="{% url 'products:new' %}">
			<span class="new-product-button-span">
				<span class="large-plus">&#x2b;</span>
				<span class="new-product-button-text">Add Product</span>
			</span>
		</a>
	</div>


	<div class="col-md-8">
		<div class="btn-group mr-2" role="group" aria-label="First group">
			<a class="btn btn-{% if product_list_page %}primary{% else %}secondary{% endif %}" href="{% url 'products:index' %}">Product List</a>
			<a class="btn btn-{% if statistics_page %}primary{% else %}secondary{% endif %}" href="{% url 'products:statistics' %}">Statistics</a>
		</div>
	</div>


	{% if product_list_page %}
		{% if user_products|length %}
			<div class="col-md-2 form-check form-switch show-retired-products-checkbox-div">
				<input class="form-check-input show-retired-products-checkbox" type="checkbox" id="flexSwitchCheckChecked" onclick="toggle_retired_products();">
				<label class="form-check-label" for="flexSwitchCheckChecked">Show Retired Products</label>
			</div>
		{% endif %}
	{% elif statistics_page %}
		<div class="col-md-2">
			<div class="btn-group mr-2" role="group" aria-label="First group">
				<a class="btn btn-{% if filter == 'active' %}primary{% else %}secondary{% endif %}" href="{% url 'products:statistics' %}">Active</a>
				<a class="btn btn-{% if filter == 'retired' %}primary{% else %}secondary{% endif %}" href="{% url 'products:statistics' %}?filter=retired">Retired</a>
				<a class="btn btn-{% if filter == 'all' %}primary{% else %}secondary{% endif %}" href="{% url 'products:statistics' %}?filter=all">All</a>
			</div>
		</div>
	{% endif %}
</div>

{% if product_list_page %}
	{% include 'products/products_list.html' %}
{% elif statistics_page %}
	{% include 'products/statistics.html' %}
{% endif %}