<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	
	<div class="container">
		<a class="navbar-brand" href="{% url 'products:index' %}">Product Lifespan</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				{% if user.is_authenticated %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'logout' %}">Logout</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'products:register' %}">Create Account</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'login' %}">Login</a>
					</li>
				{% endif %}
			</ul>
		</div>

		{% if user.is_authenticated %}
		<div>
			<form id="navbar-currency-form" method="POST" action="{% url 'products:currency' %}">
				{% csrf_token %}
				<span>Currency: </span>
				<select id="navbar-currency-select" onchange="update_currency();" name="currency">
					{% for c in currencies %}
						<option value="{{c.0}}" {% if c.0 == user.profile.currency %}selected{% endif %}>{{c.1}}</option>
					{% endfor %}
				</select>
			</form>

			<script type="text/javascript">
				function update_currency() {
					document.getElementById('navbar-currency-form').submit();
				}
			</script>
		</div>
		{% endif %}


	</div>


	
</nav>