{% load static %}

{% if user_products|length %}
	<table class="table">
		<tr>
			<th></th>
			<th>Name</th>
			<th>Price</th>
			<th>Purchase Date</th>
			<th>Current Monthly Price</th>
		</tr>
		{% for product in user_products %}
			<tr>
				<td>
					<!-- <div class="col-md-2"> -->
					<img src="{{ product.get_image_url }}" alt="Placeholder" class="product-image-small img-fluid">
					<!-- </div> -->
				</td>
				<td><a href="{% url 'products:product' product.id %}">{{ product.name }}</a></td>
				<td>{{ product.get_formatted_price }}</td>
				<td>{{ product.purchase_date }}</td>
				<td>{{ product.get_current_monthly_price_string }}</td>
			</tr>
		{% endfor %}
	</table>
{% else %}
	<p>You don't have any products.</p>
{% endif %}

<a href="{% url 'products:new' %}">Add Product</a>