<div class="product_detail {{product.detail_section_css_class}}">

	{{graph_data|json_script:"graph-data"}}
	
	<div class="row">
		{% comment %}<i>{{ product.get_formatted_price }} | Bought {{product.purchase_date}} ({{product.get_age_string}} ago)</i>{% endcomment %}
	</div>
	
	<div class="row product-detail-top">
		<div class="col-md-2">
			{% load static %}
			<img src="{{ product.get_image_url }}" alt="Placeholder" class="product-image img-fluid">
		</div>

		<div class="col-md-8">
			<h1>{{ product.name }}</h1>
			<i>{{ product.get_formatted_price }} | Bought {{product.purchase_date}} ({{product.get_days_since_purchase_string}} ago)</i>
			<br/>
			{% if product.is_retired %}
				<span>Retired on: {{product.retirement_date}}</span>
				<br/>
				<span>Lifespan: {{product.get_lifetime_string}}</span>
			{% else %}
				<progress value="{{product.get_current_lifespan_percentage}}" max="100"></progress>
				<br/>
				<span>Target Retirement Date: {{product.get_end_date_string}}</span>
				<br/>
				<span>{{product.get_current_lifespan_percentage}}% complete | {{product.get_remaining_lifetime}}</span>
			{% endif %}

		</div>
		<div class="col-md-2">
			<button type="button" class="btn btn-danger" id="product-retire-button" onclick="display_retirement_form()">Retire</button>
			<button type="button" class="btn btn-primary" id="product-edit-toggle-button" onclick="toggle_product_form()">Edit</button>
		</div>

	</div>

	<div class="row" id="product-detail-middle">
		<div class="col-md-1"></div>
		<div class="col-md-3">
			<table class="table">
				{% if product.is_retired %}
					<caption>Price at Retirement</caption>
				{% else %}
					<caption>Current Price</caption>
				{% endif %}
				<tr>
					<td>Daily</td>
					<td>{{product.get_current_daily_price_string}}</td>
				</tr>
				<tr>
					<td>Weekly</td>
					<td>{{product.get_current_weekly_price_string}}</td>
				</tr><tr>
					<td>Monthly</td>
					<td>{{product.get_current_monthly_price_string}}</td>
				</tr><tr>
					<td>Yearly</td>
					<td>{{product.get_current_yearly_price_string}}</td>
				</tr>
			</table>
		</div>

		<div class="col-md-3">
			<table class="table">
				<caption>Target Price</caption>
				<tr>
					<td>Daily</td>
					<td>{{product.get_target_daily_price_string}}</td>
				</tr>
				<tr>
					<td>Weekly</td>
					<td>{{product.get_target_weekly_price_string}}</td>
				</tr><tr>
					<td>Monthly</td>
					<td>{{product.get_target_monthly_price_string}}</td>
				</tr><tr>
					<td>Yearly</td>
					<td>{{product.get_target_yearly_price_string}}</td>
				</tr>
			</table>
		</div>

		<div class="col-md-3">
			<table class="table">
				<caption>Price Difference</caption>
				<tr>
					<td>Daily</td>
					<td>{{product.get_target_daily_price_difference_string}}</td>
				</tr>
				<tr>
					<td>Weekly</td>
					<td>{{product.get_target_weekly_price_difference_string}}</td>
				</tr><tr>
					<td>Monthly</td>
					<td>{{product.get_target_monthly_price_difference_string}}</td>
				</tr><tr>
					<td>Yearly</td>
					<td>{{product.get_target_yearly_price_difference_string}}</td>
				</tr>
			</table>
		</div>



<!-- 		<div class="col-md-6">
			<svg id="product-detail-graph"></svg>
		</div> -->

	</div>

</div>

