{% load crispy_forms_tags %}

<form class="row g-3" id="product-form" action="{{ form_action }}", method="POST" enctype="multipart/form-data">

	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

	{{ form.errors }}
	{{ form.non_field_errors }}

	{% csrf_token %}

	<div class="col-md-6">
		<label for="id_name" class="form-label">Product Name</label>
		{{ form.name }}
	</div>

	<div class="col-md-6">
		<label for="id_price" class="form-label">Product Price</label>
		{{ form.price }}
	</div>

	<div class="col-md-6">
		<label for="id_purchase_date" class="form-label">Date Purchased</label>
		{{ form.purchase_date }}
	</div>

	<div class="col-md-6">
		<label for="id_currency" class="form-label">Currency</label>
		{{ form.currency }}
	</div>

	<div class="col-md-6">
		<label for="id_currency" class="form-label">Image</label>
		{{ form.image }}
	</div>

	<hr/>

	<div class="col-md-6">
		<label for="target_end_date" class="form-label">Target End Date</label>
		{{ form.target_end_date }}
	</div>

	<div class="col-md-6">
		<label for="target_age" class="form-label">Target Age (years)</label>
		{{ form.target_age }}
	</div>

	<div class="col-md-6">
		<label for="target_price_amount" class="form-label">Target Price Amount</label>
		{{ form.target_price_amount }}
	</div>

	<div class="col-md-6">
		<label for="target_price_period" class="form-label">Target Price Period</label>
		{{ form.target_price_period }}
	</div>

	<div class="col-12">
		<button type="submit" class="btn btn-primary">{{ submit_text }}</button>
		{% if product.id %}
			<a class="btn btn-danger pull-right" href="{% url 'products:delete' product.id %}" role="button">Delete Product</a>
		{% endif %}
	</div>

</form>

{% load static %}
<script src="{% static 'products/product_form.js' %}"></script>