{% load static %}

<a class="btn btn-primary new-product-button" target="_blank" href="{% url 'products:new' %}">
	<span class="new-product-button-span">
		<span class="large-plus">&#x2b;</span>
		<span class="new-product-button-text">Add Product</span>
	</span>
</a>

{% if user_products|length %}
	<table class="table sortable product-list-table">
		<tr>
			<th class="sorttable_nosort"></th>
			<th>Name</th>
			<th>Price</th>
			<th class="purchase_date_th">Purchase Date</th>
			<th>Current Monthly Price</th>
		</tr>
		{% for product in user_products %}
			<tr>
				<td class="td-product-image">
					<a href="{% url 'products:product' product.id %}">
						<img src="{{ product.get_image_url }}" alt="Placeholder" class="product-image-small img-fluid">
					</a>
				</td>
				<td><a href="{% url 'products:product' product.id %}">{{ product.name }}</a></td>
				<td>{{ product.get_formatted_price }}</td>
				<td sorttable_customkey="{{ product.get_sorttable_custom_date_key }}">{{ product.purchase_date }}</td>
				<td>{{ product.get_current_monthly_price_string }}</td>
			</tr>
		{% endfor %}
	</table>
{% else %}
	<p>You don't have any products.</p>
{% endif %}

<script src="{% static 'products/sorttable.js' %}" defer></script>