{% load products_extras %}

<div class="product_detail {{product.detail_section_css_class}}">

	{{graph_data|json_script:"graph-data"}}
	
	<div class="row product-detail-top product-detail-table">
		<div class="col-md-2">
			{% load static %}
			<img src="{{ product.get_image_url }}" alt="Placeholder" class="product-image img-fluid">
		</div>

		<div class="col-md-8">
			<h1>{{ product.name }}</h1>
			<i>{{ product.format_price }} | Bought {{product.purchase_date}} ({{product.get_days_since_purchase_string}} ago)</i>
			<br/>
			{% if product.is_retired %}
				<span>Retired on: {{product.retirement_date}}</span>
				<br/>
				<span>Lifespan: {{product.get_lifetime_string}}</span>
			{% else %}
				<progress value="{{product.get_current_lifespan_percentage}}" max="100"></progress>
				<br/>
				<span>Target Retirement Date: {{product.get_end_date_string}}</span>
				<br/>
				<span>{{product.get_current_lifespan_percentage}}% complete | {{product.get_remaining_lifetime}}</span>
			{% endif %}

		</div>
		<div class="col-md-2">
			<button type="button" class="btn btn-{% if product.is_retired %}success{% else %}danger{% endif %}" id="product-retire-button" onclick="display_retirement_form()">{{ product.get_retire_button_text }}</button>
			<button type="button" class="btn btn-primary" id="product-edit-toggle-button" onclick="toggle_product_form()">Edit</button>
		</div>

	</div>

	<div class="row d-flex justify-content-center" id="product-detail-middle">
		<div class="col-md-3">
			<table class="table product-detail-table">
				{% if product.is_retired %}
					<caption class="text-center">Price at Retirement</caption>
				{% else %}
					<caption class="text-center">Current Price</caption>
				{% endif %}
				<tr>
					<td>Daily</td>
					<td>{% get_period_price product 'day' 'current' %}</td>
				</tr>
				<tr>
					<td>Weekly</td>
					<td>{% get_period_price product 'week' 'current' %}</td>
				</tr><tr>
					<td>Monthly</td>
					<td>{% get_period_price product 'month' 'current' %}</td>
				</tr><tr>
					<td>Yearly</td>
					<td>{% get_period_price product 'year' 'current' %}</td>
				</tr>
			</table>
		</div>

		<div class="col-md-3 product-detail-table">
			<table class="table">
				<caption class="text-center">Target Price</caption>
				<tr>
					<td>Daily</td>
					<td>{% get_period_price product 'day' 'target' %}</td>
				</tr>
				<tr>
					<td>Weekly</td>
					<td>{% get_period_price product 'week' 'target' %}</td>
				</tr><tr>
					<td>Monthly</td>
					<td>{% get_period_price product 'month' 'target' %}</td>
				</tr><tr>
					<td>Yearly</td>
					<td>{% get_period_price product 'year' 'target' %}</td>
				</tr>
			</table>
		</div>

		<div class="col-md-3 product-detail-table">
			<table class="table">
				<caption class="text-center">Price Difference</caption>
				<tr>
					<td>Daily</td>
					<td>{% get_period_price_difference product 'day' %}</td>
				</tr>
				<tr>
					<td>Weekly</td>
					<td>{% get_period_price_difference product 'week' %}</td>
				</tr><tr>
					<td>Monthly</td>
					<td>{% get_period_price_difference product 'month' %}</td>
				</tr><tr>
					<td>Yearly</td>
					<td>{% get_period_price_difference product 'year' %}</td>
				</tr>
			</table>
		</div>


<!-- 		<div class="col-md-6">
			<svg id="product-detail-graph"></svg>
		</div> -->

	</div>

</div>

