{% extends './base.html' %}

{% block title %}{{product.name}}{% endblock %}

{% block content %}
	<div id="existing-product">
		{% include 'products/product_detail.html' %}
		{% include 'products/product_form.html' %}
		{% include 'products/product_retirement_form.html' %}
	</div>
	

	<script src="https://d3js.org/d3.v7.min.js" defer></script>
	<script src="https://cdn.jsdelivr.net/npm/d3-scale@4" defer></script>

	{% load static %}	
	<script src="{% static 'products/product_page.js' %}" defer></script>

{% endblock %}



