<div id="statistics-page">

	<p><strong>Active Products:</strong> {{ active_products_count }}</p>
	<p><strong>Mean Price:</strong> {{ mean_price }}</p>
	<p><strong>Median Price:</strong> {{ median_price }}</p>

	<br/>

	<p><strong>Mean Daily Price:</strong> {{ mean_daily_price }}</p>
	<p><strong>Mean Monthly Price:</strong> {{ mean_monthly_price }}</p>

	<br/>

	<p><strong>Total Current Monthly Price:</strong> {{ total_current_monthly_price }}</p>
	<p><strong>Total Target Monthly Price:</strong> {{ total_target_monthly_price }}</p>

	<br/>

	<p><strong>Average Current Product Age:</strong> {{ average_current_product_age }}</p>
	<p><strong>Average Target Product Age:</strong> {{ average_target_product_age }}</p>

	<br/>

	<p><strong>Average Lifespan Percentage:</strong> {{ average_lifespan_percentage }}</p>


	






</div>