<div id="statistics-page">

	<h2>
		{{ products|length }} {% if filter == 'all' %}Total{% else %}{{ filter|title }}{% endif %} Product{{products|length|pluralize}}
	</h2>

	{% if products|length %}

		<h3>
			Average Lifespan Completion:
			{% if average_lifespan_percentage >= 100 %}
				{{ average_lifespan_percentage|floatformat }}%
			{% endif %}
		</h3>
		<progress value="{{ average_lifespan_percentage }}" max="100" id="lifespan-progress-bar"></progress>
		{% if average_lifespan_percentage < 100 %}
			<span id="lifespan-progress-percentage" style="left:{{ average_lifespan_percentage|add:"-1" }}%">{{ average_lifespan_percentage|floatformat }}%</span>
		{% endif %}
		<div class="row justify-content-md-center">
			<table class="table">
				<tr>
					<th></th>
					<th>Current</th>
					<th>Target</th>
				</tr>
				<tr>
					<th>Total Monthly Price</th>
					<td>{{ total_current_monthly_price }}</td>
					<td>{{ total_target_monthly_price }}</td>
				</tr>
				<tr>
					<th>Average Product Age</th>
					<td>{{ average_current_product_age }}</td>
					<td>{{ average_target_product_age }}</td>
				</tr>
			</table>
		</div>

		

	{% endif %}

</div>